body {
    transition: background-color 0.5s, color 0.5s;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.toggle-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: none;
    color: #ffffff;
    font-size: 16px;
}

.toggle-button:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

body.dark-mode .toggle-button {
    color: #ffffff;
    background-color: #121212;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
}

h1{
    color: #ffffff;
    padding: 10px;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

header nav ul li a{
    color: #ffffff;
    text-decoration: none;
}