/* oswald-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/oswald-v53-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/oswald-v53-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v53-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/oswald-v53-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/oswald-v53-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oswald-v53-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    font-family: 'Oswald';
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    color: #FFFF;
}

body {
    background-color: #1d1d26;

}

h1 {
    font-size: 4rem;
    font-style: oblique;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    animation: start 3s;

}

/* Animation @keyframes */
@keyframes start {

    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}

main h2 {
    font-size: 3rem;
    font-weight: 700;

}

.buttons {
    padding-top: 2rem;
    display: flex;
    column-gap: 2rem;
}

.buttons a {
    border: 1px solid white;
    text-decoration: none;
    padding: 2rem 4rem;
    transition: background-color 1s;
}

.buttons a:hover {
    background-color: white;
    color: #1d1d26;
}

::selection {
    color: #1d1d26;
    background-color: rgb(255, 255, 255);
}

#svg_arrow {
    position: relative;
    bottom: 6rem;
    left: 50%;
    animation: bounce 2s infinite;

}



#fr,
#en {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#fr h3,#en h3{
    font-size: 4rem;
}

/* Animation @keyframes */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Position de départ et fin */
    }

    50% {
        transform: translateY(-50px);
        /* Hauteur maximale du rebond */
    }
}


.snowflake {
    position: absolute;
    top: -10px;
    /* Commence hors de l'écran */
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* Rendre chaque flocon circulaire */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    /* Effet de glow */
    animation: fall linear infinite;
    z-index: 10;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(200vh);
        opacity: 0;
    }
}


*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #1d1d26;
}

*::-webkit-scrollbar-thumb {
    background-color: #1d1d26;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.icone.sticky {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: sticky;
    width: fit-content;
    top: 90vh; /* Ajuste selon où tu veux que le bouton soit collé */
    left: 97vw;
    padding: 10px; /* Ajuste selon ton design */
    z-index: 10; /* Assure que le bouton reste au-dessus des autres éléments */
}

.icone svg {
    height: 40px;
    width: 40px;
    left: 10%; /* Attention : cette propriété n'a d'effet que si l'élément est positionné (relative, absolute, fixed ou sticky). */
}

.icone.sticky:hover {
    background-color: white; /* "fill" s'applique uniquement aux éléments SVG. */
}
.icone.sticky:hover svg {
    fill: #1d1d26; /* Appliquer le changement de couleur sur le SVG à l'intérieur. */
}