html, body {
    padding: 0;
    height: 100%;
    display: grid;
    place-content: center;
    background: black;
  }

  html, body {
    padding: 0;
    height: 100%;
    display: grid;
    place-content: center;
    background: black;
  }